
body{
    background-color: rgba(255,255,255,255);
    margin: 0 auto;
    padding: 5px;
}


/*-- make sure the oops image is not visible unless it meets requierements --*/
.responsive_img{
    width: 100%;
    height: 100%;
    margin: auto;
    padding-bottom: 20px;
    display: none;
}

#error_text{
    text-align: center;
}

/*-- The main container that holds everything inside the purple area --*/
#main_container{
    width: 100%;
    height: 18rem;
    margin: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgba(48,28,130,255);
    border-radius: 5px;
    display: block;
}

/*-- The container that holds the green action bar and it´s contents --*/
#action_bar{
    width: 75%;
    height: 20%;
    margin: auto;
    background-color: rgba(0,128,0,255);
    display: flex;
}

/*-- The container that holds the contents on the left side of the green action bar --*/
.menu_container_left{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 3%;
    margin-left: 2%;
}

.menu_container_right{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-right: 2%;
    gap: 2%;
    justify-content: flex-end;
}



/*-- drop down menu adjustments --*/
#drop_menu{
    width: 9rem;
    height: 30%;
}

.btn_container{
    width: 2rem;
    height: 2rem;
}

.style_btn{
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;

    background-color: rgba(239,239,239,255);
}

.btn_container:active{
    opacity: 40%;
}


.key_container{
    width: 75%;
    height: 70%;
    margin: auto;
    margin-top: 2%;
    box-sizing: border-box;
    display: flex;
    border-style: solid;
}

.white_keys {
    width: 20%;
    height: 100%;
    margin: auto;
    background-color: rgba(255,255,255,255);
    cursor: pointer;
    box-sizing: border-box;
    border-left: 0.15rem solid rgba(0,0,0,255);
    border-right: 0.15rem solid rgba(0,0,0,255);
    z-index: 1;
}

.white_keys:first-child {
    border-left: 0;
}

.white_keys:last-child {
    border-right: 0;
}

.white_keys p{
    color: rgba(0,0,0,255);;
    font-size: 0.7rem;
    margin: auto;
    text-align: center;
    padding-top: 6rem;
}

.white_keys:active {
    background-color: rgba(128,128,128,255);
}

.black_keys {
    width: 10%;
    height: 65%;
    background-color: rgba(0,0,0,255);
    margin: 0 -2.5% 0 -2.5%;
    cursor: pointer;
    box-sizing: border-box;
    z-index: 2;
    print-color-adjust: exact;
}

.black_keys p{
    color: rgba(255,255,255,255);
    font-size: 0.7rem;
    text-align: center;
    margin: auto;
    padding-top: 3rem;
    print-color-adjust: exact;
}

.black_keys:active {
    background-color: rgba(128,128,128,255);
}

@media only print{

    #main_container{
        background-color: rgba(255,255,255,255);
    }

    #action_bar{
        background-color: rgba(255,255,255,255);
    }

    .key_container{
        border-color: black;
        border-width: 0.25rem;
    }
}

@media only screen and (max-width: 599px) {
    .responsive_img {
        display: block;
    }
    
    #main_container{
        display: none;
    }
}